@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

body {
  font-family: 'Raleway';
  font-size: 18px;
  color: #333333; }

a, button {
  outline: none; }
  a:hover, button:hover {
    text-decoration: none; }

header {
  height: 87px;
  background: rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 2; }
  header .logo {
    text-align: center;
    position: relative;
    top: -7px;
    left: 20px; }
  header .header-menu {
    height: 87px; }
    header .header-menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0;
      list-style: none;
      padding-left: 54px;
      height: 87px; }
      header .header-menu ul li {
        margin-right: 51px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .header-menu ul li:last-child {
          margin-right: 0; }
    header .header-menu a {
      color: #fff;
      font-size: 15px;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header-menu a:hover {
        border-bottom: 2px solid #fff;
        margin-top: 2px; }
    header .header-menu a.active {
      border-bottom: 2px solid #fff; }
  header .header-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -2px;
    margin-top: 2px; }
    header .header-social a {
      font-size: 0;
      width: 30px;
      height: 30px;
      margin-right: 10px; }
      header .header-social a:last-child {
        margin-right: 0; }
    header .header-social .social-fb {
      background: transparent url("../img/social-sprite.png") 0 0 no-repeat; }
    header .header-social .social-vk {
      background: transparent url("../img/social-sprite.png") -40px 0 no-repeat; }
    header .header-social .social-in {
      background: transparent url("../img/social-sprite.png") -80px 0 no-repeat; }
  header .header-contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 87px; }
  header .header-phone {
    position: relative;
    left: -31px; }
    header .header-phone a {
      white-space: nowrap;
      color: #ffffff; }

.main {
  background: transparent url("../img/main-bg.jpg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  margin-top: -87px;
  padding-top: 125px;
  padding-bottom: 200px; }
  .main h1 {
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 90px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 0 21px;
    line-height: 100px;
    margin-bottom: 34px; }
  .main .main-info {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'Flamingo_VR';
    text-transform: uppercase;
    margin-bottom: 38px; }
    .main .main-info p {
      margin-bottom: 3px; }
  .main .main-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main .main-link .open-menu {
      font-weight: 700;
      color: #fefcfc;
      background-color: #f6ac39;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 15px 54px;
      margin-right: 33px; }
    .main .main-link .book {
      color: #fefcfc;
      border: 1px solid #ffffff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 15px 67px; }

.info {
  padding-top: 38px;
  padding-bottom: 44px;
  position: relative;
  overflow-x: hidden; }
  .info:before {
    content: url("../img/info-left.png");
    position: absolute;
    left: -2px;
    bottom: 46px;
    z-index: 0; }
  .info:after {
    content: url("../img/info-right.png");
    position: absolute;
    right: -13px;
    bottom: 46px;
    z-index: 0; }
  .info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 42px;
    margin-bottom: 38px; }
  .info p {
    line-height: 30px;
    margin-bottom: 0; }
  .info .info-item {
    text-align: center;
    margin-bottom: 20px; }
    .info .info-item .info-item_img {
      min-height: 69px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 29px; }
    .info .info-item .info-item_title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 13px;
      text-transform: uppercase; }
    .info .info-item .info-item_txt {
      line-height: 30px;
      font-weight: 500;
      max-width: 260px;
      margin-left: auto;
      margin-right: auto; }
  .info .delivery-row {
    margin-top: 39px;
    margin-bottom: 28px; }
  .info .delivery-item {
    margin-bottom: 10px; }
    .info .delivery-item .delivery-item_img {
      min-height: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 22px; }
    .info .delivery-item .delivery-item_title {
      font-size: 16px;
      font-weight: 700;
      text-align: center; }

.request {
  background: transparent url("../img/request-bg.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #ffffff;
  padding-top: 43px;
  padding-bottom: 63px;
  position: relative; }
  .request .request-img {
    text-align: center;
    margin-bottom: 32px; }
  .request .request-title {
    margin-bottom: 31px; }
    .request .request-title h2 {
      text-align: center;
      font-size: 63px;
      font-weight: 700;
      font-family: 'Bebas Neue';
      text-transform: uppercase; }
  .request .request-txt {
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 53px; }
  .request .request-link {
    text-align: center; }
    .request .request-link a {
      display: inline-block;
      color: #fefcfc;
      font-weight: 700;
      background-color: #f2ad00;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 15px 67px; }

.request:after {
  content: "";
  width: 100%;
  height: 11px;
  background: transparent url("../img/pattern.png") 0 0 no-repeat;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0; }

.about {
  padding-top: 37px;
  padding-bottom: 21px;
  position: relative;
  overflow-x: hidden; }
  .about:after {
    content: url("../img/about-right.png");
    position: absolute;
    right: 0;
    top: 14px; }
  .about:before {
    content: url("../img/about-left.png");
    position: absolute;
    left: 0;
    top: 14px; }
  .about h2 {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px; }
  .about p {
    margin-bottom: 0;
    line-height: 30px; }
  .about .about-row {
    margin-top: 55px;
    margin-bottom: 42px; }
  .about .about-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    padding-left: 20px; }
    .about .about-item .about-img {
      margin-right: 12px;
      min-width: 35px; }
    .about .about-item .about-title {
      font-size: 24px;
      font-weight: 700;
      font-family: 'Bebas Neue';
      text-transform: uppercase; }

.hits {
  background: #f7f7f7;
  background: #f7f7f7 url("../img/pattern.png") bottom 0px left 0px no-repeat;
  padding-top: 34px;
  padding-bottom: 10px;
  position: relative;
  overflow-x: hidden; }
  .hits:after {
    content: url("../img/hits-right.png");
    position: absolute;
    right: -5px;
    top: 20px;
    z-index: 0; }
  .hits:before {
    content: url("../img/hits-left.png");
    position: absolute;
    left: -2px;
    top: 20px;
    z-index: 0; }
  .hits h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 45px; }
  .hits .hit-item {
    margin-bottom: 24px; }
  .hits .hit-img {
    width: 222px;
    height: 222px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #efefef;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px; }
    .hits .hit-img .price-label {
      background: #f00;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      color: #ffffff;
      font-family: 'Bebas Neue';
      font-size: 24px;
      width: 60px;
      height: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 3; }
      .hits .hit-img .price-label span {
        font-size: 12px; }
    .hits .hit-img .img-overlay {
      -webkit-transition: 200ms ease-in-out;
      -o-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      background: #f2ad00 url("../img/share.png") center no-repeat;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      z-index: 1; }
    .hits .hit-img:hover .img-overlay {
      opacity: 0.82; }
    .hits .hit-img a {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      z-index: 2; }
      .hits .hit-img a img {
        position: relative;
        z-index: -1; }
  .hits .hit-title {
    text-align: center; }
    .hits .hit-title a {
      text-align: center;
      color: #333333;
      font-size: 18px; }

.comments {
  padding-top: 28px;
  padding-bottom: 36px; }
  .comments h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 23px; }
  .comments .slick-slide {
    outline: none; }
  .comments .comments-slider {
    margin-left: -17px;
    margin-right: -17px; }
  .comments .comments-item {
    padding: 17px 17px 25px; }
    .comments .comments-item .comments-overlay {
      border: 1px solid #dadada;
      padding-left: 15px;
      padding-top: 22px;
      padding-bottom: 26px;
      position: relative; }
      .comments .comments-item .comments-overlay:before {
        content: url("../img/slice_1.png");
        position: absolute;
        bottom: -36px;
        left: 52px; }
  .comments .comments-photo {
    max-width: 95px;
    margin-right: 8px; }
  .comments .comments-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px; }
  .comments .comments-name {
    font-weight: 700;
    padding-top: 5px; }
    .comments .comments-name span {
      display: block;
      font-size: 12px;
      font-weight: 400; }
  .comments .comments-txt {
    font-size: 13px;
    line-height: 20px;
    max-height: 81px;
    height: 100%;
    overflow: hidden; }
  .comments .left-slide, .comments .right-slide {
    position: absolute;
    top: 42%;
    cursor: pointer;
    z-index: 3; }
  .comments .left-slide {
    left: -8px; }
  .comments .right-slide {
    right: -8px; }

.contacts {
  background: transparent url("../img/contacts-bg.jpg") 0 0 no-repeat;
  color: #ffffff;
  padding-top: 38px;
  padding-bottom: 28px;
  position: relative;
  overflow-x: hidden; }
  .contacts .map {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0; }
  .contacts h3 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 57px; }
  .contacts .contacts-txt {
    font-size: 16px; }
  .contacts p {
    font-family: 'Verdana';
    margin-bottom: 8px; }
  .contacts .contacts-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 17px;
    margin-bottom: 50px; }
  .contacts .contacts-img {
    min-width: 26px;
    margin-right: 8px;
    text-align: center; }
  .contacts .contacts-social {
    padding-left: 15px;
    font-size: 16px; }
  .contacts .contacts-social_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 17px;
    margin-bottom: 10px; }
    .contacts .contacts-social_list a {
      margin-right: 9px; }

footer {
  background: transparent url("../img/footer.png") 0 0px no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
  padding-top: 28px;
  padding-bottom: 6px; }
  footer .footer-title {
    margin-bottom: 12px; }
  footer .pl {
    padding-left: 34px; }
  footer .footer-contacts {
    font-size: 16px;
    margin-bottom: 24px; }
    footer .footer-contacts p {
      margin-bottom: 6px; }
  footer .footer-txt {
    font-size: 16px;
    margin-bottom: 21px; }
    footer .footer-txt p {
      margin-bottom: 6px; }
  footer .footer-link a {
    font-size: 16px;
    color: #fff; }
  footer .footer-menu {
    margin-top: -5px; }
    footer .footer-menu ul {
      padding-left: 0;
      list-style: none; }
    footer .footer-menu a {
      font-size: 14px;
      color: #fff; }
    footer .footer-menu li {
      margin-bottom: 3px;
      display: block; }
  footer .pay-img {
    margin: 20px 0; }
    footer .pay-img:last-child {
      margin-bottom: 0; }
  footer .footer-social_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 24px;
    margin-bottom: 37px; }
    footer .footer-social_list a {
      margin-right: 9px; }
  footer .app-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 19px; }
    footer .app-list a {
      margin-right: 19px; }
  footer .footer-bottom {
    border-top: 1px solid #fff;
    margin-top: 26px;
    padding-top: 14px;
    padding-bottom: 5px; }
    footer .footer-bottom .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    footer .footer-bottom .copyright {
      font-size: 14px;
      padding-left: 20px; }
    footer .footer-bottom .developer {
      font-size: 12px;
      font-family: 'Verdana'; }
      footer .footer-bottom .developer a {
        color: #fdfafa; }

header.fix {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 4; }

header.fix .header-menu a.active {
  border-bottom: 2px solid #f6ac39; }

header.fix .header-menu a:hover {
  border-bottom: 2px solid #f6ac39;
  margin-top: 2px; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #f6ac39; }

.slick-dots li button:before {
  font-size: 11px;
  opacity: 1;
  color: #cecece; }

.menu {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 178px;
  margin: auto;
  background-color: #fcfbfb;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding-top: 149px;
  padding-bottom: 50px;
  z-index: 0;
  height: auto;
  opacity: 0; }
  .menu .close-menu {
    position: absolute;
    right: 17px;
    top: 49px;
    cursor: pointer; }
  .menu .row {
    margin-bottom: 45px; }
  .menu .label-garnir {
    background: transparent url("../img/garnir-bg.png") 0 0 no-repeat;
    width: 159px;
    height: 154px; }
  .menu .label-salat {
    background: transparent url("../img/salat-bg.png") 0 0 no-repeat;
    width: 160px;
    height: 160px; }
  .menu .label-hot {
    background: transparent url("../img/hot-bg.png") 0 0 no-repeat;
    width: 162px;
    height: 163px; }
  .menu .label-soup {
    background: transparent url("../img/soup-bg.png") 0 0 no-repeat;
    width: 160px;
    height: 154px; }
  .menu .label-dessert {
    background: transparent url("../img/dessert-bg.png") 0 0 no-repeat;
    width: 160px;
    height: 159px; }
  .menu .label-drink {
    background: transparent url("../img/drink-bg.png") 0 0 no-repeat;
    width: 160px;
    height: 160px; }
  .menu .menu-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fcfbfb;
    margin-left: 15px; }
  .menu .slick-dots {
    text-align: right; }
  .menu .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0; }
  .menu .slick-dots li button:before {
    width: 10px;
    height: 10px; }
  .menu .slick-dots li {
    margin: 0 -2px; }

.menu-slide_item .menu-slide_img {
  max-width: 251px;
  margin-left: auto;
  margin-right: auto;
  min-height: 227px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .menu-slide_item .menu-slide_img img {
    max-width: 100%; }
  .menu-slide_item .menu-slide_img .label-price {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url("../img/price-bg.png") 0 0 no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #333333;
    font-family: "Bebas Neue";
    font-size: 24px;
    width: 76px;
    height: 76px;
    font-weight: 700; }
    .menu-slide_item .menu-slide_img .label-price span {
      font-size: 18px; }

.menu-slide_item .menu-slide_name {
  text-align: center;
  margin-bottom: 2px; }
  .menu-slide_item .menu-slide_name a {
    color: #333333; }

.menu-slide_item .menu-slide_weight {
  font-family: "Bebas Neue";
  font-size: 14px;
  text-align: center;
  font-weight: 700; }

.prev {
  width: 13px;
  height: 36px;
  background: transparent url("../img/arrowlo.png") 0 0 no-repeat;
  position: absolute;
  top: 38%;
  left: 0;
  cursor: pointer;
  z-index: 3; }

.next {
  width: 16px;
  height: 40px;
  background: transparent url("../img/arrowor.png") 0 0 no-repeat;
  position: absolute;
  top: 38%;
  right: -10px;
  cursor: pointer;
  z-index: 3; }

.next.slick-arrow.slick-disabled {
  background: transparent url("../img/arrowgr.png") 0 0 no-repeat; }

.prev.slick-arrow.slick-disabled {
  background: transparent url("../img/arrowlg.png") 0 0 no-repeat; }

.menu-slide.slick-initialized.slick-slider.slick-dotted {
  margin-top: -25px; }

.main, .request, .info, .about, .hits, .comments, .contacts, footer {
  position: relative;
  z-index: 1; }

.menu-overlay, .modal-overlay {
  background-color: #333333;
  opacity: 0.77;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none; }

.modal-form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 553px;
  max-width: 100%;
  height: 422px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.75);
  background-color: #fafafa;
  padding-left: 36px;
  padding-right: 46px;
  padding-top: 31px;
  display: none;
  z-index: 5; }
  .modal-form h3 {
    font-size: 31px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px; }
  .modal-form p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px; }
  .modal-form input {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 13px;
    color: #040404;
    padding-left: 15px;
    margin-bottom: 35px;
    border: 1px solid rgba(192, 192, 192, 0.35);
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .modal-form input::-webkit-input-placeholder {
    font-size: 13px;
    color: #040404; }
  .modal-form input::-moz-placeholder {
    font-size: 13px;
    color: #040404; }
  .modal-form input:-moz-placeholder {
    font-size: 13px;
    color: #040404; }
  .modal-form input:-ms-input-placeholder {
    font-size: 13px;
    color: #040404; }
  .modal-form button {
    cursor: pointer;
    width: 100%;
    background-color: #f6ac39;
    height: 49px;
    color: #fbfafa;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin-top: 19px; }

.mobile-menu {
  z-index: 0;
  top: 0;
  display: none;
  position: fixed;
  width: 100%;
  min-width: 140px;
  padding-left: 20px;
  padding-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }
  .mobile-menu .menu-close {
    position: absolute;
    top: 20px;
    right: 20px; }

.mobile-menu.open-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f3f3;
  height: 100vh;
  padding-top: 140px; }

.mm-slideout {
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.newwrap {
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  position: relative;
  z-index: 1; }

.noscroll {
  position: fixed;
  width: 100%;
  overflow-y: hidden; }

.mobile-menu ul {
  padding-left: 0;
  list-style: none; }

.mobile-menu li {
  display: block;
  text-align: center;
  margin-bottom: 20px; }

.mobile-menu a {
  font-size: 26px;
  color: #333;
  font-weight: 700; }

@media (min-width: 1200px) and (max-width: 1300px) {
  .info:after {
    right: -50px; }
  .about:after {
    top: 35px;
    right: -25px; }
  .about:before {
    left: -35px; }
  .info:before {
    content: url(../img/before.png);
    bottom: 20%;
    left: -28px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  header .header-menu ul {
    padding-left: 0; }
  header .header-menu ul li {
    margin-right: 30px; }
  header .header-social {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  header .header-phone {
    left: 0; }
  header .header-contacts {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .info {
    margin-top: -100px; }
  .about .about-item {
    padding-left: 0; }
  .about:before {
    left: -55px; }
  .about:after {
    right: -75px; }
  .info:after {
    right: -50px; }
  .info:before {
    display: none; }
  .menu {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px; }
  .menu .menu-label {
    margin-left: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  header .header-menu {
    display: none; }
  header .col-lg-7 {
    display: none; }
  header .header-contacts {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .main h1 {
    font-size: 75px;
    line-height: 80px; }
  .main .main-info {
    font-size: 28px; }
  .info {
    margin-top: -150px; }
  .info:before, .about:before {
    display: none; }
  .info:after, .about:after {
    display: none; }
  .contacts {
    -webkit-background-size: cover;
            background-size: cover;
    padding-bottom: 0; }
  footer .pl {
    padding-left: 15px; }
  .contacts .contacts-item {
    margin-bottom: 20px; }
  .menu {
    max-width: 720px;
    padding-top: 40px;
    padding-bottom: 40px; }
  .next {
    right: 10px; }
  .prev {
    left: 10px; }
  .menu .slick-dots {
    text-align: center; }
  .menu-slide.slick-initialized.slick-slider.slick-dotted {
    margin-top: 0; }
  .menu .menu-label {
    margin-left: auto;
    margin-right: auto; }
  .menu .close-menu {
    z-index: 4; }
  .adapt_menu {
    position: absolute;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 24px;
    color: #fff;
    background: transparent;
    top: 20px;
    left: 10px; }
  .adapt_menu > a > span {
    margin: 0 3px 3px 0;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 3px;
    background: #fff;
    position: relative; }
  .adapt_menu > a > span:before {
    content: '';
    width: 100%;
    position: absolute;
    top: -8px;
    left: 0;
    height: 3px;
    background: #fff; }
  .adapt_menu > a > span:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    background: #fff; }
  .adapt_menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none; } }

@media (max-width: 767px) {
  header .header-menu {
    display: none; }
  header .col-lg-7 {
    display: none; }
  .main h1 {
    font-size: 56px;
    line-height: normal;
    padding-left: 0;
    padding-right: 0; }
  .main .main-link {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .info:before, .about:before, .hits:before {
    display: none; }
  .info:after, .about:after, .hits:after {
    display: none; }
  header .header-phone {
    display: none; }
  header .header-contacts {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 60px; }
  header {
    height: 60px; }
  img {
    max-width: 100%; }
  header .logo {
    height: 60px;
    left: 50px;
    top: -9px; }
  .adapt_menu {
    position: absolute;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 24px;
    color: #fff;
    background: transparent;
    top: 10px;
    left: 5px; }
  .adapt_menu > a > span {
    margin: 0 3px 3px 0;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 3px;
    background: #fff;
    position: relative; }
  .adapt_menu > a > span:before {
    content: '';
    width: 100%;
    position: absolute;
    top: -8px;
    left: 0;
    height: 3px;
    background: #fff; }
  .adapt_menu > a > span:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    background: #fff; }
  .adapt_menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none; }
  footer .pl {
    padding-left: 15px; }
  .contacts {
    padding-bottom: 0; }
  .contacts .map {
    position: initial;
    width: 100%;
    height: 300px; }
  .menu .row {
    margin-left: 0;
    margin-right: 0; }
  .comments .right-slide {
    right: 6px; }
  .comments .left-slide {
    left: 6px; }
  .mobile-menu.open-menu {
    padding-top: 50px; }
  footer .footer-bottom .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  footer .footer-bottom .copyright {
    padding-left: 0; }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4; }
  .main {
    margin-top: 0; }
  .main .main-info {
    font-size: 22px; }
  .main .main-link .open-menu {
    margin-right: 0;
    padding: 15px 0;
    display: block;
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  .info {
    margin-top: -150px; }
  .request .request-title h2 {
    font-size: 42px; }
  .request .request-txt {
    font-size: 20px;
    line-height: normal; }
  .about .about-item {
    padding-left: 0; }
  .contacts .contacts-item {
    padding-left: 0;
    margin-bottom: 20px; }
  .modal-form {
    padding-left: 10px;
    padding-right: 10px; }
  .modal-form button {
    margin-top: 0; }
  .modal-form h3 {
    font-size: 26px; }
  .modal-form input {
    margin-bottom: 20px; }
  .modal-form p {
    margin-bottom: 20px; }
  .menu .slick-dots {
    text-align: center; }
  .comments .comments-slider {
    margin-left: 0;
    margin-right: 0; }
  .comments .comments-item {
    padding: 0;
    padding-bottom: 25px; }
  .logo img {
    width: 75px; }
  .menu-slide.slick-initialized.slick-slider.slick-dotted {
    margin-top: 10px; }
  .menu .menu-label {
    margin-left: auto;
    margin-right: auto; }
  .menu {
    padding-top: 40px;
    padding-bottom: 40px; }
  .modal-form {
    max-height: 90%;
    overflow: scroll;
    padding-bottom: 10px; }
  .menu .close-menu {
    z-index: 3; } }
